<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MathServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3022/MathService.asmx" binding="basicHttpBinding"
                bindingConfiguration="MathServiceSoap" contract="ServiceReference1.MathServiceSoap"
                name="MathServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>